
@charset "utf-8";

/*================================================================
	Resets
================================================================*/

div, section, ul, li, h1, h2, h3, h4, table, td, tr, form, label, iframe, img {
	margin: 0;  
	padding: 0;
	border: 0;
	display: block;
	position: relative;
	user-select: none;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

@media (min-width: 320px) { 

.apple-btn {
	visibility: visible;
}

#haha {
	visibility: hidden;
}

}

@media (min-width: 480px) { 

.apple-btn {
	visibility: hidden;
}

#haha {
	visibility: visible;
}

}

/*================================================================
	General
================================================================*/

html, body {
	height: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'MaisonNeueWEB-Light', Helvetica, Arial, sans-serif;
	font-size: 20px;
    line-height: 30px;
	color: #fff;
	background: #030405;
	-webkit-font-smoothing: antialiased;
	background: -moz-linear-gradient(top, #171819 0%, #030405 100%);
	background: -webkit-linear-gradient(top, #171819 0%,#030405 100%);
	background: linear-gradient(to bottom, #171819 0%,#030405 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171819', endColorstr='#030405',GradientType=0 ); 
}

.hidden {
	display: none;
}

/*================================================================
	Scaffolding
================================================================*/

.row {
	*zoom: 1;
}

.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}

.row:after {
	clear: both;
}


.table-style li,
.cell {
	display: table-cell;
	vertical-align: top;
}

/*================================================================
	Core typography
================================================================*/

@font-face {
    font-family: "MaisonNeueWEB-Light";
    src:url("../fonts/MaisonNeueWEB-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UnitedSansSmCdHv";
    src:url("../fonts/UnitedSansSmCdHv.woff") format("woff"),
    	url("../fonts/UnitedSansSmCdHv.eot") format("eot"),
        url("../fonts/UnitedSansSmCdHv.ttf") format("truetype"),
        url("../fonts/UnitedSansSmCdHv.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

a, h1, h2, h3, h4, b, p {
	font-weight: normal;
	user-select: none;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
	cursor: default;
}

h1 {
	font-family:'UnitedSansSmCdHv', Helvetica, Arial, sans-serif;
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 18px;	
	line-height: 28px;
	margin-bottom: 30px;
}

h3 {
	font-size: 12px;
}

p {
	margin: 0px 0px 40px 0px;
	padding: 0;
}

b {
	font-family: 'MaisonNeueWEB-Light', Helvetica, Arial, sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

a, a:hover, a:visited {
	color: #a18858;
	text-decoration: none;
	cursor: pointer;
}

a.button, a.button:hover, a.button:visited {
	font-family: 'UnitedSansSmCdHv';
	letter-spacing: 2px;
	height: 50px;
    line-height: 52px;
    padding: 0px 20px;
	color: #fff;
	display: inline-block;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

a.button:before {
	display: block;
	content: '';
	background: #a18858;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: 	margin .8s cubic-bezier(.075,.82,.165,1);
    transition: 			margin .8s cubic-bezier(.075,.82,.165,1);
}

a.button:hover:before {
	margin: -2px; */
    /* box-shadow: 18px 18px 45px rgba(10,12,14,0.4); */
}

/*================================================================
	Layout controls
================================================================*/

.container {
	height: 100%;
	width: 100%;
}

section {
	width: 100%;
	height: 100%;
    padding: 0px 100px 0px 120px;
}

.content-outer {
	display: table;
	width: 100%;
	height: 100%;
}

.content-inner {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	overflow: hidden;
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}

.content .text-content {
	width: 360px;
}

.content .graphic {
	position: absolute;
	z-index: -1;
}

/*================================================================
	Fixed elements
================================================================*/

.pin {
	position: fixed;
}

.logo {
	left: 30px;
	top: 30px;
	width: 40px;
	height: 40px;
	z-index: 1;
}

.slogan {
    font-size: 15px;
    font-family: "UnitedSansSmCdHv", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 50%;
    margin-top: -40px;
    left: -32px;
    letter-spacing: 4px;
    -webkit-transition: 	opacity .8s cubic-bezier(.075,.82,.165,1);
    transition: 			opacity .8s cubic-bezier(.075,.82,.165,1);
}

.social {
	bottom: 30px;
	left: 30px;
	width: 40px;
	z-index: 1;
}

.social a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	text-align: center;
	color: #fff;
	opacity: 0.3;
    vertical-align: middle;
	-webkit-transition: 	opacity .8s cubic-bezier(.075,.82,.165,1);
    transition: 			opacity .8s cubic-bezier(.075,.82,.165,1);
}

.social a:hover {
	color: #fff;
	opacity: 1;
}

.social i {
	cursor: pointer;
}

.logo-500 {
	font-size: 13px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	font-family: "UnitedSansSmCdHv", Arial, Helvetica, sans-serif;
	cursor: pointer;
}

/*================================================================
	Sections
================================================================*/

.splash .graphic {
	top: 0;
	right: -50px;
	margin-top: -330px;
}

.splash .wordmark {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.splash .apple-logo {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
    top: -3px;
    margin-right: 10px;
}
.apple-logo {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
    top: -3px;
    margin-right: 10px;
}

.splash p.small {
	font-size: 15px;
	opacity: 0.3;
	margin-top: 40px;
}

/*================================================================
	Responsive: 960px;
================================================================*/

@media (max-width: 960px) {

	html, body {
		height: auto;
	}

	body {
		overflow: visible;
		margin: 0px 40px 0px 40px;
	}

	.pin {
		position: relative;
	}

	.slogan {
		-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	    top: 0;
	    margin-top: 0;
	    left: 0px;
        font-size: 20px;
	    text-align: center;
	    margin-bottom: 40px;
	}

	.logo {
	    margin: 0 auto;
	    margin-top: 40px;
	    margin-bottom: 80px;
	    left: 0;
	    top: 20px;
	}

	section, .content-outer, .content-inner {
		height: auto;
		display: block;
		overflow: visible;
	}

	section {
		padding: 0;
	}

	.content-outer {

	}

	.content-inner {

	}

	.content {
		margin: 0 auto;
		width: 100%;
		max-width: 960px;
	}

	.content .text-content {
		width: 100%;
		margin-bottom: 20px;
	}

	.content .graphic {
		position: relative;
	}

	.social {
		bottom: auto;
		left: 0;
		width: auto;
	    text-align: center;
	}

	.social a {
		display: inline-block;
	}

	.splash p.small {
		display: none;
	}


	/*================================================================
		Splash
	================================================================*/

	.splash .text-content {
		text-align: center;
	}

	.splash .text-content p {
	    margin: 0px 0px 25px 0px;
	}

	.splash .graphic {
		right: auto;
	    top: 0;
	    left: 0;
	    margin: 0 auto;
	}

	.splash .wordmark {
		max-width: 320px;
		height: auto;
		margin: 0 auto;
    	margin-bottom: 20px;
	}

	.splash .apple-logo {
	    width: 20px;
	    height: 20px;
	    display: inline;
	    vertical-align: middle;
	    top: -3px;
	    margin-right: 10px;
	}

}

/*================================================================
	Responsive: Images;
================================================================*/

@media (max-width: 560px) {

	/*================================================================
		Splash
	================================================================*/

	.splash .graphic {
		width: 100%;
	}

}


/*================================================================
	Responsive: Vertical;
================================================================*/

@media (max-height: 640px) {

	/*================================================================
		Splash
	================================================================*/

	.slogan {
		opacity: 0;
	}

}





