<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<meta name="keywords" content="sports, athletes, gear, lockers, gaming, training, styling, style, fashion, baseball, football, soccer, basketball, tennis, softball, hockey, high school athletes, college athletes, pro athletes, MLB, NFL, MLS, NBA, NHL">
	<meta name="robots" content="index, follow" />
	<!-- <meta name="apple-itunes-app" content="app-id=687226814"> -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

	<link rel="stylesheet" href="/css/style.css"/>

	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

	<script src='js/index.js'></script>

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css'/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js'></script>
	
</head>

<body style='height: 100% !important;'>
	<img class="pin logo" src="img/logo.png">
	<section class="splash">
		<div class="content-outer">
			<div class="content-inner">
				<div class="content">
					<div class="text-content">
						<img src="img/wordmark.png" class="wordmark">
						<div class='col-xs-12'>
							<div style='text-align: center;'>
  								<input style='margin-bottom: 20px;' title='Phone Number (Format: +99(99)9999-9999)' type='tel' pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' class="form-control"  id="phoneNumber" placeholder='*555-555-5555'>
  								<div id='btn-test' style='margin-bottom: 20px; border-radius: 0px; background-color: #a18858; border: none; color: white; font-family: "UnitedSansSmCdHv", Arial, Helvetica, sans-serif; letter-spacing: 4px;' class='btn btn-default'>SEND ME A DOWNLOAD LINK</div>
  							</div>
						</div>
						<p style='text-align: center;'>*Your mobile number will not be used except to provide a download link for Phenom.</p>
					</div>
					<div class="pin social">
						<a href="https://www.instagram.com/phenomapp/" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="http://twitter.com/PhenomApp" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="http://www.facebook.com/PhenomApp" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="mailto:support@phenomapp.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
						<a href="http://500.co" target="_blank" class="logo-500">500</a>
					</div>
					<img class="graphic" src="img/splash-mobile.png">
				</div>
			</div>
		</div>
	</section>
	

</body>
</html>
