<!DOCTYPE html>
<html>
<head>
<base href="/">

	<meta id="image" property="og:image" />

	<meta id="description" property="og:description" />

	<meta id="url" property="og:url"/>

	<meta id="title" property="og:title"/>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<meta name="description" content="Phenom is a mobile app where the best athletes in the world show off their gear while showing off their skills.">
	<meta name="keywords" content="sports, athletes, gear, lockers, gaming, training, styling, style, fashion, baseball, football, soccer, basketball, tennis, softball, hockey, high school athletes, college athletes, pro athletes, MLB, NFL, MLS, NBA, NHL">
	<meta name="robots" content="index, follow" />
	<meta name="apple-itunes-app" content="app-id=687226814">

	<title>Phenom — MAKE SOME NOISE.</title>

	<link rel="stylesheet" type="text/css" href="css/momentId.css" media="all">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

	<script src='js/singleMoment.js'></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</head>

<div class='col-xs-12' style='text-align: center; height: 80px; padding-top: 20px; background-color: #1d1d1f'><img src='img/phenom-logo@3x.png' width='250px'/></div>


<body style='height: 100%; background-color: #232323;'>


<div id='momentUser'>
</div>




	


</body>
</html>
