<!DOCTYPE html>
<html>
<head>
<base href="/">
<script>

var string = window.location.pathname;

    var momentId = window.location.href.split('/')[4];

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "https://api1.phenomapp.com:8081/webProfiles?momentId=" + momentId,
      "method": "GET"
    }

     $.ajax(settings).done(function (res) {
      console.log(res);
      $('body').append('<img src="' + res.results.image + '" height="100%" width="100%" style="display: inline-block;" />');

     $('#image').attr("content", res.results.image);

     $('#url').attr("content", window.location.href);

     $('#description').attr("content", res.results.headline);
    
      var headline = res.results.headline;
      var userId = res.results.userId;

      var createdAt = res.results.createdAt;

      console.log(createdAt);

      var user = {
      "async": true,
      "crossDomain": true,
      "url": "https://api1.phenomapp.com:8081/userForWeb?userId=" + userId,
      "method": "GET"
    }

      $.ajax(user).done(function (response) {

           $('#title').attr("content", response.results.username);

           $("title").html(response.results.username)
            $('body').append('&nbsp;&nbsp;&nbsp;&nbsp;<div style="font-family: MaisonNeueWEB-Light, Helvetica, Arial, sans-serif; font-weight: lighter; display: inline-block; margin-left: 15px; margin-top: -5px; color: white; font-size: 15px;"><span style="font-family: MaisonNeueWEB-Light, Helvetica, Arial, sans-serif; color: #75ABBA;">' + response.results.username + ' ' + '</span>' + ' ' + ' ' + headline + '</div>');
            $('#momentUser').append('<div class="col-xs-2" style="height: 75px; padding-top: 18px;"><img src="' + response.results.imageUrl + '" height="40" width="40" style="border-radius: 20px; border: 2px solid white;"/></div>');
            $('#momentUser').append('<div class="col-xs-10" style="padding-left: 10px; margin-top: 18px; font-size: 20px; color: white; font-family: UnitedSansSmCdHv">' + response.results.firstName.toUpperCase() + ' ' + ' ' + response.results.lastName.toUpperCase() + '</div><div class="col-xs-10" style="margin-top: -8px; padding-left: 10px;"><time style="font-size: 10px; color: #90909A; font-family: MaisonNeueWEB-Light, Helvetica, Arial, sans-serif;" class="timeago" datetime="2014-05-26T20:10:32.486Z"></time><span style="font-size: 10px; color: #90909A; font-family: MaisonNeueWEB-Light, Helvetica, Arial, sans-serif;"> ' + ' ' + '-' + ' ' + response.results.hometown.toUpperCase() + '</span></div>');
            $("time.timeago").timeago();

        });

    });

</script>

	<meta id="image" property="og:image"/>

	<meta id="description" property="og:description"/>

	<meta id="url" property="og:url"/>

	<meta id="title" property="og:title"/>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<meta name="keywords" content="sports, athletes, gear, lockers, gaming, training, styling, style, fashion, baseball, football, soccer, basketball, tennis, softball, hockey, high school athletes, college athletes, pro athletes, MLB, NFL, MLS, NBA, NHL">
	<meta name="robots" content="index, follow" />
	<meta name="apple-itunes-app" content="app-id=687226814">

	<link rel="stylesheet" type="text/css" href="css/momentId.css" media="all">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

	<script src='js/singleMoment.js'></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</head>

<div class='col-xs-12' style='text-align: center; height: 80px; padding-top: 20px; background-color: #1d1d1f'><img src='img/phenom-logo@3x.png' width='250px'/></div>


<body style='height: 100%; background-color: #232323;'>


<div id='momentUser'>
</div>




	


</body>
</html>
